:root {
    --background-color: #fff;
    --light-grey-color: #f5f7fb;
    --border-color: #ededed;
    --primary-color: #6749dc;
    --secondary-color: #eae9f7;
    --text-color: #495057;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}