.messageWrapper, .messageWrapperRight {
    display: flex;
    align-items: center;
    margin: 6px 0;
}

.messageWrapperRight {
    flex-direction: row-reverse;
}

.messageWrapper + .messageWrapper > .avatar {
    visibility: hidden;
}

.messageWrapperRight  + .messageWrapperRight > .avatar {
    visibility: hidden;
}

.messageWrapperRight + .messageWrapper {
    margin-top: 30px;
}

.messageWrapper + .messageWrapperRight {
    margin-top: 30px;
}

.avatar {
    width: 38px;
    height: 38px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

.message {
    background-color: var(--message-background-color);
    color: var(--primary-text-color);
    padding: 10px;
    border-radius: 15px;
    margin: 0 15px;
    max-width: 50%;
    font-size: 1.3rem;
}

.messageWrapperRight > .message {
    background-color: var(--primary-color);
    color: #fff;
}
