.chatList {
    min-height: 100vh;
    padding: 20px 15px;
    background-color: var(--background-color);
    border-right: 2px solid var(--border-color);
}

.title {    
    font-size: 2.1rem;
    font-weight: 500;
    color: var(--primary-text-color);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 40px;
}

.icon {
    width: 20px;
    height: 20px;
    stroke-width: 2.3px;
    cursor: pointer;
    color: var(--secondary-text-color);
}

.icon + .icon {
    margin-left: 10px;
}

.plusIcon {
    color: var(--primary-color);
}

.filter {
    padding: 20px 0 20px;
    border-top: 2px solid var(--border-color);
}

.filterOption {
    display: inline-block;
    font-size: 1.5rem;
    min-width: 70px;
    height: 30px;
    color: var(--chat-filter-color);
    text-align: center;
    border: 1px dashed var(--chat-filter-border);
    padding: 7px 8px;
    border-radius: 8px;
    cursor: pointer;
}

.filterOption + .filterOption {
    margin-left: 15px;
}

.filterOptionActive {
    color: #4fa3f1;
    background-color: var(--chat-filter-active); 
    border: none;
}

.chatListWrapper {
    overflow-y: scroll;
    scrollbar-width: none;
    max-height: calc(100vh - 200px);
}